required = ["github.com/pulumi/pulumi-aws"]

[[override]]
  name = "github.com/pulumi/pulumi"
  revision = "96d4cca4c8e93fb95a549f006505519388128eda"

[[override]]
  name = "github.com/pulumi/pulumi-aws"
  revision = "fbb9b669f42aa7b44531380b8e19c41ee0c69046"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "1.1.4"
